{% extends '__base__.html' %}

{% block title %}Blogs{% endblock %}

{% block content %}

<div class="row">
    <div id="left-block" class="col-md-9">

        {% for blog in blogs %}
        <h1 class="blog-title">
            <a href="/blog/{{ blog.id }}">{{ blog.name }}</a>
        </h1>

        <div class="blog-meta">
            <i class="fa fa-clock-o" aria-hidden="true"></i> {{ blog.created_at|datetime }}
            &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-tag" aria-hidden="true"></i>
            <span class="blog-tags">[{{blog.tag}}]</span>
        </div>
        <div class="meta-seperator"></div>
        <article class="blog-summary blog-content">
            {{ blog.summary }}
        </article>
        <p><a class="readmore-btn" href="/blog/{{ blog.id }}">Read more...</a></p>
        <div class="blog-seperator"></div>

        {% endfor %}
    </div>

    <div id="right-block" class="col-md-3 hidden-sm hidden-xs hidden-print" role="complementary">
        <!-- here is the place for blogs -->
        <nav class="right-navbar">
            <div id="right-container" class="container-fluid">
                <h3 id="whyuclick">DON'T CLICK ME!</h3>
                <div id="scareu">
                    <img id="selfie" class="img-responsive img-circle" src="/static/photos/me.jpg">
                    <p>&nbsp;&nbsp;Ops! You deserve it!</p>
                </div>
                <div class="right-nav-seperator"></div>
                <h3>TAGS</h3>
                <ul class="tag-list">

                {% for tag in tags %}
                    <li class="tag-item">
                        <i class="fa fa-folder-open-o fa-fw" aria-hidden="true"></i>
                        <a href={{"/tags/"+tag+"?page=1"}}> {{tag}}</a>
                    </li>
                {% endfor %}
                </ul>
                <div class="right-nav-seperator"></div>
            </div>
        </nav>
    </div>

{% endblock %}

{% block script %}

<script type="text/javascript">
    navactive = document.getElementById("blogs");
    navactive.className = "active";
    $(document).ready(function(){
        $("#myPagination li a").attr("href", function(i, origValue){
            return window.location.pathname+origValue;
        });
        var converter = new showdown.Converter({'literalMidWordUnderscores': true, 'strikethrough':true})
        $('.blog-summary').each(function(){
            var txt = $(this).text();
            $(this).html(converter.makeHtml(txt));
        });
        $('pre code').each(function(i, block) {
            hljs.highlightBlock(block);
        });
        $('.blog-tags').each(function(){
            var info = $(this).text();
            info = JSON.parse(info);
            thisHtml = "";
            for (i=0; i<info.length; i++){
                thisHtml += '<a href="/tags/'
                thisHtml += info[i] + '">#'
                thisHtml += info[i] + '</a>&nbsp;&nbsp;';
            }
            $(this).html(thisHtml);
        });
    });
</script>

 <script>
        <!-- put script here -->
        $(document).ready(function () {
            $('#whyuclick').click(function () {
                $('#scareu').toggle(3000);
            });
        });
</script>
{% endblock %}